@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap');

@import "tailwindcss";



/* @font-face{
    font-family: "umoefont";
    src: url("./src/assets/myanmarfont.ttf")
} */

@theme {
  
    --font-Padauk: "Padauk", "sans-serif";
  }
